parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    facebook_app_id: 832824790073559
    facebook_app_secret: 7b5972e328fe33d50d4569c4c5eb80e4
    google_app_id: 453981874681-vkj38n42ii1o1tb24qqiii0tgpsueo7q.apps.googleusercontent.com
    google_app_secret: 3hPiBTTWozs1F7kve351Qlhp