{% extends "ZdrwOffersBundle::layout.html.twig" %}

{% block content %}

    <div class="container page-content">
        <section class="col-md-12 box primary-section">
            <div class="primary-content">
                <h1>Admin panel</h1>
            </div>
        </section>
    </div>



{% endblock %}