{% extends "ZdrwUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block loginBtn %}
{% endblock %}
{% block login %}
{% endblock %}
{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-4">
                <div class="well">
                    {{ render(controller('ZdrwUserBundle:Security:login')) }}
                </div>
            </div>
            <div class="col-xs-4">
                <div>
                    <p class="lead">Register now for FREE</p>
                    <span class="glyphicon glyphicon-ok"></span>&nbsp; Post your own dare
                    <br><br>
                    <span class="glyphicon glyphicon-ok"></span>&nbsp; Receive another user dare
                    <br><br>
                    <span class="glyphicon glyphicon-ok"></span>&nbsp; Earn money for accomplished dares
                    <br><br>
                    <br>
                    <a href="{{ path("fos_user_registration_register") }}" class="btn btn-primary btn-block">Register</a>
                </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
{% endblock fos_user_content %}
