{% extends "ZdrwUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block loginBtn %}
{% endblock %}
{% block login %}
{% endblock %}
{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-4">
                <div class="well">
                    {{ render(controller('ZdrwUserBundle:Security:login')) }}
                </div>
            </div>
            <div class="col-xs-4">
                <div>
                    <p class="lead">Register now for FREE</p>
                </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
{% endblock fos_user_content %}
