{% extends "ZdrwUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container page-content">
        <div class="row">
            <section class="col-sm-12"><br><br></section>
            <section class="stare-section col-sm-offset-2 col-sm-8">
                <div class="primary-content articles">
                    <div class="stare-article text-center">
                        <p class="font-2">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                        {% if app.session is not empty %}
                            <a href="{{ path('zdrw_dares') }}" class="font-2 text-info">Click here to continue</a>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock fos_user_content %}
