{% extends "ZdrwUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-4">
                <div class="well">
                    {% include "ZdrwUserBundle:Registration:register_content.html.twig" %}
                </div>
            </div>
            <div class="col-xs-4 text-white">
                <div>
                    <p class="lead">Register now for FREE</p>
                    <span class="glyphicon glyphicon-ok"></span>&nbsp; Post your own dare
                    <br><br>
                    <span class="glyphicon glyphicon-ok"></span>&nbsp; Receive another user dare
                    <br><br>
                    <span class="glyphicon glyphicon-ok"></span>&nbsp; Earn money for accomplished dares
                    <br><br>
                </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
{% endblock fos_user_content %}
