{% extends "ZdrwOffersBundle::layout.html.twig" %}

{% block content %}
    <section class="container">
        <article class="jumbotron">
            <p>
                {{ name }}<br>
                {{ email }}
            </p>
        </article>
    </section>
{% endblock %}