{% extends "ZdrwOffersBundle::layout.html.twig" %}

{% block content %}

    <div class="container page-content">
        <section class="col-md-6 box primary-section">
            <h1>Dares</h1>
            <div class="primary-content">
                <br>
            </div>
        </section>
        <section class="col-md-6 box primary-section">
            <h1>Stares</h1>
            <div class="primary-content">
                <br>
            </div>
        </section>
    </div>



{% endblock %}