{% extends "ZdrwOffersBundle::layout.html.twig" %}

{% block content %}
    <div class="container">


        <form action="{{ path('zdrw_upload') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}

            <input type="submit" />
        </form>
    </div>
{% endblock %}