@import "bootstrap-sass-official/assets/stylesheets/bootstrap-compass";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "userInNavbar";
@import "stripes";
@import "seachBar";
@import "qoutes";

$bg-color: rgba(214, 211, 196, 0.50);
$article-color: #E0DDD4;
$light: #CDCAB9;
$font-1: 16pt;
$font-2: 14pt;
$font-3: 12pt;

html{
  height: 100%;
}
body{
  height: 100%;
  padding-top:70px;
  background: url('../img/back.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a{
  color: #6F6E6B;
}
a:hover{
  text-decoration: none;
}
.wrap{
  min-height: 100%;
  height: auto;
  margin: 0 auto -50px;
  padding: 0 0 70px;
}
footer{
  height: 50px;
  background-color: $bg-color;
  padding: 15px;
  text-align: center;
  color: black;
}
h1,h2,h3,h4,h5,h6{
  margin: 0px 0px 5px 0px;
}
h1{
  color: #0da1ae;
  font: 40px 'LeagueGothicRegular';
}
.panel-body{
  padding-left: 0px;
  padding-right: 0px;
}
.row{
  margin: 0px;
}

.col-without-padding{
    padding:0px;
}

.font-1{
  font-size: $font-1;
}
.font-2{
  font-size: $font-2;
}
.font-3{
  font-size: $font-3;
}
.profile-content,
.primary-content,
.secondary-content{
  background-color: $bg-color;
  outline: none;
  border-radius: 7px;
}
.profile-section,
.primary-section,
.secondary-section{
  padding: 20px;
}
.articles{
  padding: 20px 20px 0px;
}
.articles:last-child{
  padding-bottom: 20px
}
.thumb-container{
  margin-right: 10px;
}
.stare-article,
.dare-article{
  min-height: 100px;
  h4 small{
    font-size: 8pt;
  }
  background-color: $article-color;
  padding: 10px;
}
.dare-article:hover{
  background-color: $light;
}
.shortDesc{
  color: #777777;
}
textarea{
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
}
.dare-thumbnail{
  margin: 0px auto 5px;
  max-width: 100px;
}
.stare-thumbnail{
  margin-left: auto;
  margin-right: auto;
  min-width: 80px;
  max-width: 350px;
}
@media screen and (min-width: 767px) {
  .dividers-left{
    border-right: 1px solid $light;
    margin-top: -15px;
    margin-bottom: -15px;
    padding: 15px;
  }
  .dividers-right{
    border-left: 1px solid $light;
    margin-top: -15px;
    margin-bottom: -15px;
    padding: 15px;
    margin-left: -1px;
  }
}
@media screen and (max-width: 767px) {
  .dividers-left{
    border-bottom: 1px solid $light;
    margin-top: -15px;
    margin-bottom: 15px;
    padding: 15px;
  }
}

.list-group-item:hover{
  background-color: $light;
}
.i-did-it,
.i-will-do-it{
  width: 100%;
  margin-bottom: 7px;
}
.spinnerBtn{
  width: 100%;
  float:right;
}
.thumb-keeper{
  padding: 0px;
}
.thumbnail{
  margin-bottom: 5px;
}
.tabbable a{
  color: #69B2B2;
}