.left-sidebar{
  margin-top:51px;
  width: 200px;
  height: 100%;
  border-right:1px solid #777777;
  background-color: white;
  position: fixed;
  top: 0px;
  left: -200px;
  z-index:999;
}
.left-sidebar-button{
  width: 32px;
  height: 32px;
  position: relative;
  left: 200px;
  img{
    width: 32px;
    height: 32px;
  }
}