.st{
  height:5px;
  float: left;
}
.st1{
  background: #0A606E;
  width:65%;
}
.st2{
  background: #432A43;
  width:10%;
}
.st3{
  background: #e84144;
  width:10%;
}
.st4{
  background: #FBB829;
  width:10%;
}
.st5{
  background: #0A606E;
  width:5%;
}